.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $calendarWidth;
  margin: auto;

  div {
    @include flex-center;
    width: $cellSize;
    height: $cellSize;
    background-color: $cellsColor;
    border: 1px solid #000;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: background-color 1s, transform 1s;
  }

  @for $i from 1 through 31 {
    & :nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  & > div:hover {
    background-color: $hoverColor;
    transform: translateY(-20px);
  }

}
