.calendar {

  @each $day in $monthLength {
    $trimmedCells: $day+1;

    &-#{$day} :nth-child(n + #{$trimmedCells}) {
      display: none;
    }
  }

  @each $dayName, $dayNumber in $dayOfWeek {
    $shift: (($dayNumber - 1) * ($cellSize + 1));

    &-#{$dayName} :first-child {
      margin-left: $shift;
    }
  }
}
